
#main {
    height: 100vh;
    display: flex;
}

#left {
    height: 100vh;
    width: 40vw;
    background-image: url("forestPic.jpg");
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

#odinLogo {
    margin-top: 17%;
}

#logoTxt {

    @font-face {
        font-family: 'Norse';
        src: 
            url('Norse-Bold.otf') 
            format('opentype');
    }

    height: 20vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 80px;
    text-align: center;
}

#authorInfo {
    margin-top: 65%;
    text-align: center;
    color: white;
}

a {
    color: white;
}

#right {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

#top {
 background-color: #F5F5F5;
 height: 42vh;
 padding-top: 5rem;
 padding-left: 3rem;
}

#mid {
    height: 43vh;
    padding-left: 3rem;
}

#botom {
    background-color: #F5F5F5;
    height: 83vh;
    padding-top: 2rem;
    padding-left: 2rem;
}

h2 {
    width: 37rem;
}

#doThis {
    font-size: 24px;
    font-weight: 700;
}

.floatL {
    margin-bottom: 40px;
    margin-right: 35px;
}

.floatR {
    margin-bottom: 40px;
}

button {
    width: 225px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-color: solid green; 
    border-radius: 12px;
    margin-bottom: 30px;
}

#already {
    font-size: 18px;
    font-weight: 500;
}